#enter-form{
    margin-top: 60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: sans-serif;
}

#ent-btn{
    margin-top: 60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: sans-serif;
}

button{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

button:hover {
  background-color: #006a8d;
  color: white;
}